// color variables only

// Primary
$black: #000000;
$black-80: #333333;
$gray: #9B9B9B;
$navy: #00549F;
$blue: #00A1DE;
$orange: #E17000;

// Secondary
$gray-xlight: #F8F8F8;
$gray-light: #F1F1F1;
$gray-med: #DDDDDD;
$gray-dark: #C1C1C1;
$gray-xdark: #595959;

// UI
$success: #386015;
$warning: #ECC200;
$error: #C32525;