// Customize the look and feel of the grid with Sass variables
// Up-to-date list of variables is available here: http://www.ag-grid.com/javascript-grid-styling/#customizing-sass-variables

// Typography
$font-family: "Nunito", sans-serif;
$foreground-color: #333333;
$font-size: 0.875rem;
$font-weight: 400;

$secondary-font-family: "Source Sans Pro", sans-serif;
$secondary-foreground-color: #333333;
$secondary-font-size: 0.875rem;
$secondary-font-weight: 700;

$header-foreground-color: #333333;
$disabled-foreground-color: #C1C1C1;

// Checkboxes
$icon-size: 16px;

// Grid
$grid-size: 4px;

// Row styles
$background-color: #FFFFFF;
$selected-color: rgba(0,84,159,0.08);
$hover-color: #F8F8F8;
$border-color: #DDDDDD;
$row-height: 48px;

// Header
$header-background-color: #FFFFFF;
$headerHeight: 56px;

// Tooltips
$tooltip-background-color: #595959;
$tooltip-foreground-color: #FFFFFF;

// Inputs
$input-disabled-background-color: #F1F1F1;

// Default icons
$icons-path: "../../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/";

// changes the default icon color
$icon-color: #595959;

// changes the icon secondary color (checkbox background)
$alt-icon-color: #00549f;

// changes the selected checkbox check mark color
$accent-color: #FFFFFF;

$header-height: 56px;
$row-height: 48px;
$row-border-width: 1px;

$ag-range-selected-color-1: rgb(250, 235, 215);
$ag-range-selected-color-2: darken($ag-range-selected-color-1, 10%);
$ag-range-selected-color-3: darken($ag-range-selected-color-1, 20%);
$ag-range-selected-color-4: darken($ag-range-selected-color-1, 30%);

//CSS
.ag-theme-balham {
    .ag-header {
        border: 1px solid #9B9B9B !important;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
    .ag-row {
        border-color: #DDDDDD !important;
        border-width: 1px;
    }
    .ag-cell {
        padding-top: 0 !important;
    }
    .ag-header-cell, 
    .ag-cell {
        //need this padding to match design but is creating issues in cell
        //padding: 0 24px !important;
    }
    .ag-header-group-cell,
    .ag-header-cell {
        line-height: 34px !important;
    }
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-with-height.ag-cell-value {
    padding-top: 0 !important;
}

// Pivot Mode
.ag-theme-balham {
    .ag-side-bar {
        background-color: #F1F1F1 !important;
    }
    .ag-primary-cols-header-panel {
        // sets height for pivot mode filter section
        height: auto !important;
        // sets equal padding on top and bottom of filter box
        padding: 4px 0 !important;
    }
    .ag-primary-cols-filter {
        padding: 4px;
        //border-radius: 4px;
    }
    .ag-tool-panel-wrapper {
        .ag-header-cell-label {
            .ag-header-cell-text {
                font-family: $secondary-font-family;
            }
        }
        .ag-column-drop {
            .ag-column-drop-title {
                font-family: $secondary-font-family;
                font-weight: 700;
                margin-bottom: 8px;
            }
            .ag-column-drop-empty-message {
                color: #9B9B9B !important;
                font-family: $font-family !important;
                font-weight: 400 !important;
            }
        }
        .ag-pivot-mode-panel {
            height: auto !important;
            line-height: 35px !important;
            .ag-pivot-mode-select {
                .ag-checkbox-label {
                    margin-left: 0 !important;
                }
            }
             .ag-pivot-mode-select {
                .ag-icon-checkbox-unchecked, .ag-icon-checkbox-checked {
                    height: $icon-size;
                    width: $icon-size;
                    margin: 8px;
                }
            }
        }
    }
}


// Checkboxes
.ag-theme-balham {
    .ag-icon-checkbox-unchecked {
        background: url(/icons/checkbox-unchecked.svg) !important;
        //need to override for height to be correct in pivot mode
        height: $icon-size !important;
        width: $icon-size;
    }
    .ag-icon-checkbox-checked {
        background: url(/icons/checkbox-checked.svg) !important;
        //need to override for height to be correct in pivot mode
        height: $icon-size !important;
        width: $icon-size;
     }
}

// Icons
.customSortRemoveLabel {
    float: right !important;
}
.customSortDownLabel {
    margin-left: 16px !important;
}

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";
@import "../styles/colors.scss";